body{
 background-color: azure;
 color: plum
}
div{
 background-color: aliceblue;
 width: 80%;
 margin: 0 auto;
 border-radius: 15px;
 height: auto;
}
.logo{
 text-align: center;
}
.logo-head{
 margin-bottom: 0px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo-img{
 max-width: 60%;
 border-radius: 10px;
 border-bottom: 3px solid white;
 border-right: 3px solid white;
 border-left: 3px solid white;
 margin-top: 0px;
}
hr{
 width: 90%;
 background-color: orchid;
 height: 1px;
 border: 1px solid orchid;
 border-radius: 30px;
}
.main{
 text-align: center;
 font-size: 20px;
 font-weight: semi bold;
 display: flex;
}
h2, h3{
 text-align: center;
 text-decoration: underline double;
 font-family: sans-serif;
}
a{
 text-align: center;
 font-size: 0.7rem;
 font-weight: semi bold;
}
@media (max-width: 360px) {
    .logo-head{
        font-size: 30px;
    }
    a{
        font-size: 16px;
    }
}