*{
   box-sizing: border-box;
}
body{
   padding: 40px;
   background-color: #ccc;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, #b9935a, #f4e1a1);
    color: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border-radius: 18px;
    padding: 45px;
    margin: 0 auto;
}
.container a{
    border: 2px solid white;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: gold;
    position: relative;
    left: 110px;
    top: 30px;
    border-radius: 10px;
    font-size: 20px;
}
.container a:hover{
    background-color: green;
}
.container a:active{
    color: red;
}
.container a:visited{
    color: blueviolet;
}
@media (max-width: 370px){
    body{
        display: flex;
        justify-content: left;
        padding: 0;
    }
  .container{
    width: 300px;
    height: 350px;
    position: relative;
  }
  .container a{
    position: absolute;
    top: 280px;
    left: 50px;
    color: #b9935a;
  }
  .container a:visited{
    color: red;
  }
  .container a:active{
    color: white;
    background-color: #0a0a88;
  }
}








