*{
    box-sizing: border-box;
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 16px;
}
body{
    padding: 0;
    background-color: darkslategrey;
    margin: 0; 
} 
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    gap: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkcyan;
    color: snow;
}
.heading h1{
    margin-bottom: 0;
}
.heading p{
    margin-top: 0;
    color: navajowhite;
}
.heading h2{
    margin-bottom: 0;
}
.heading h2:hover{
   text-decoration: underline solid;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.2fr);
    grid-template-areas: 
    "p p"
    "content content";
    gap: 0;
}
.projects h2{
    grid-area: p;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.projects ul{
    grid-area: content;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    grid-template-areas: 
    "content content"
    "content content"
    "soon soon";
    padding: 1rem;
    gap: 1rem;
    margin-top: 0;
}
.projects li{
    padding: 0.6rem;
    border: 1px solid green;
    border-radius: 10px 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100px;
    transition: background-color 1s ease-in ;
}
.projects li:hover{
    background-color: limegreen;
    cursor: pointer;
}
#soon{
    grid-area: soon;
}
.projects a{
    font-size: larger;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 1s ease-in-out;
}
.projects a:hover{
    color: blue;
    text-decoration: none;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
}
.form h2{
    color: snow;
}
.form form{
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}
label{
    margin-top: 10px;
    margin-left: 2px;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
button{
    justify-items: stretch;
    color: black;
    font-size: large;
    height: 2rem;
}
.footer{
    background-color: darkcyan;
    color: darkgray;
    padding: 0.5rem;
}
.footer h2{
    color: black;
}
.footer a{
    color: blue;
}
@media (max-width: 400px) and (hover: none){
    li:hover{
        background-color: transparent !important;
    }
    a:hover{
        color: inherit !important
    }
}