body{
 padding: 40px;
 background: linear-gradient(180deg, darkgray, gray);
 font-family: Brush Script MT;
}
.heading h1{
 text-align: center;
 font-size: 4.7rem;
 margin-bottom: 5rem;
}
.heading figure{
 background-color: lightgray;
 text-align: center;
 border-radius: 0.9rem;
 width: 31.25rem;
 margin: 0 auto;
 font-size: 1.2rem;
}
.heading img{
 border-radius: 20px;
 margin-top: 1.2rem;
}
.heading p{
 padding: 1rem;
 font-size: 1.2rem;
 font-family: Times new roman;
}
.projects h2{
 font-size: 2rem;
 text-decoration: underline solid;
 text-align: center;
}
.projects p{
 font-size: 1.3rem;
}
.projects h3{
 font-size: 1.5rem;
 text-decoration: underline solid;
}
.projects ul{
 background-color: silver;
 padding: 0.2rem;
}
.projects li{
 margin: 0.6rem;
 padding: 0.2rem;
 list-style: inside;
}
.projects a{
 text-decoration: none;
 background-color: dimgray;
 border: 1px solid gray;
 padding: 0.2rem;
 font-weight: bold;
}
.projects a:hover{
 background-color: snow;
}
.form h2{
 font-size: 2rem;
 text-decoration: underline solid;
 text-align: center;
}
.form{
 text-align: center;
}
.form form{
 margin: 0 auto;
 background-color: grey;
 padding: 1.9rem;
 border-radius: 20px;
 width: 80%;
}
.form label{
 font-weight: bold;
 font-size: 2rem;
 margin-right: 15rem;
 margin-bottom: 0;
}
.form input{
 width: 90%;
 height: auto;
 font-weight: bold;
 font-size: 1rem;
 border-radius: 10px;
 border: 2px solid grey;
 margin-top: 0;
}
.form input:hover{
 background-color: magenta;
}
.form button{
 font-weight: bold;
 width: 60%;
 margin-top: 10px;
 height: auto;
 font-size: 1rem;
 border-radius: 1.8rem;
}
.form button:hover{
 background-color: gold;
}
.footer h2{
 text-align: center;
 font-size: 2.1rem;
}
.footer{
 text-align: center;
 font-size: 1.2rem;
 font-weight: semi bold;
}