*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
@font-face {
    font-family: "font";
    src: url('fonts/FiraCode-VariableFont_wght.ttf')
    format('truetype');
}
body{
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
    font-family: "font";
}
.nav{
    background-color: deepskyblue;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav a{
    position: relative;
    right: 10px;
    padding: 1rem;
    font-size: larger;
}
.nav a:hover{
    background-color: lightblue;
    color: black;
}